	
	body{
		margin-top: 0;
	}
	.top{
		margin-right: 0;
		margin:0 auto; 
		width:1000px;
		height: 50px; 
		background-color: #E0ECFF;
	}
	img{
		margin:0 ;
		width: 100px;
		height: 50px;
	}
	.subject{
		margin-left:0;
		border: 1px solid #95B8E7;
		margin:0 auto; 
		width:1000px; 
		height:550px; 
		text-align: center;
	
	}
	table{
		margin:auto;
	}
	caption {
		font-size: 25px;
		color: #FF6633;
	}
	tr{
		line-height: 100px;
	}
	input {
		width: 250px;
		height: 25px;
	}
	.code1{
		width: 150px;
		height: 25px;
	}
	.code2{
		color: white;
		width: 100px;
		height: 35px;
		background-color: #FF6633;
	}
	.alter {
		font-size:25px ;
		color: white;
		width: 150px;
		height: 40px;
		background-color: #FF6633;
	}
